
@media (max-width: 1500px){
header{
    .menu-here{
        .navbar{
            .socials-header{
                section{
                    &:first-child{
                        p{
                            font-size: 17px;
                            i{
                            }
                        }
                    }
                }
            }
        }
    }

    .fixedright{
        .slider-contact-info{
            .inner{
                .icon-holder{
                    width: 110px;
                    height: 110px;
                    span{
                        font-size: 32px;
                    }
                }
            }
        }
    }
}
header{
    .menu-here{
        .navbar{
            padding: 10px 20px!important;
            .navbar-collapse{
                ul{
                    li{
                        a{
                            font-size: 18px!important;
                        }
                    }
                }
            }
        }
    }

    .fixedright{
        .slider-contact-info{
            .inner{
                .title-holder{
                    h3{
                        line-height: 26px;
                    }
                    h1{
                        font-size: 33px;
                    }
                }
            }
        }
    }

.contentwelc{
    padding: 0 180px!important;
    h1{
    }
    h2{
        font-size: 63px!important;
        line-height: 1.1em!important;
            }
        }
    }
}


@media (max-width: 1199.98px){
    .resonswhyus{
        background-position: bottom!important;
    }
    .posjust{
        .contactform{
            .contacti{
                form{
                    padding: 0 30px!important;
                }
            }
            .imgright{
                .image-holder{

                }
                .text-holder{
                    padding: 33px 33px 33px 033px!important;
                    h3{
                        margin-bottom: 0!important;
                    }
                }
            }
        }
    }
    footer{
        padding: 75px 0 60px 0px;
        .footer-4{
            .titlefooter{
                h1{
                    font-size: 17px;
                }
            }
        }
    }
    .resonswhyus{
        .row{
        .choose-content{
            .single-choose-box{
                width: 165px!important;
                span{
                    font-size: 50px;
                    line-height: 50px;
                }
            }
        }
    }
}
    .services{
        .box-bg{
            .justimg{
                img{
                    height: 230px;
                }
            }
        }
    }
    .justpos{
        .icon{
        .inner{
            h1{
                font-size: 55px;
                line-height: 60px;
            }
        }
    }
}
    .introduction{
        .left{
            padding: 0 30px;
            .welcome-image-box{
                max-width: 280px;
                align-self: center;
                .vid3{
                    bottom: -40px;
                }
                .vid1{
                    left: -140px;
                }
            }
        }
        .right{
            .line1{
                img{
                    margin-right: 15px;
                }
            }
        }
    }
    header{
    .menu-here{
        .navbar{
            .logo-header{
                section{
                    img{
                        width: 170px!important;
                    }
                }
            }
            .socials-header{
                section{
                    &:first-child{
                        p{
                            font-size: 15px;
                            i{
                            }
                        }
                    }
                }
            }
        }
    }


    .fixedright{
        max-width: 325px!important;
    }
    .contentwelc{
        padding: 0 130px!important;
        h2{
            font-size: 55px!important;
            line-height: 1em!important;
                }
            }
}
header{
    .menu-here{
        .navbar{
            padding: 10px 20px!important;
            .navbar-collapse{
                ul{
                    li{
                        padding: 5px 8px;
                        margin: 0 10px;
                        a{
                            font-size: 17px!important;
                        }
                    }
                }
            }
        }
    }
    .fixedright{
        .slider-contact-info{
            width: 350px;
            left: 130px;
            .inner{
                .title-holder{
                    font-size: 30px !important;
                    h3{
                    }
                    h1{
                    }
                }
                .icon-holder{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}
}



@media (max-width: 991.98px){
    .posjust{
        .contactform{
            .contacti{
                form{
                    padding: 0 10px !important;
                    select{
                        height: 55px!important;
                    }
                }
            }
            .imgright{
                .image-holder{
                    img{
                        min-height: 600px;
                    }
                }
                .text-holder{
                    h3{
                    }
                }
            }
        }
    }
    footer{
        padding: 35px 0;
        .footersection1{
            p{
                padding: 0;
            }
        }
        .footer-4{
            margin: 35px 0;
            section, .navbar2, .titlefooter{
                text-align: center;
                .lineee{
                    justify-content: center;
                }
            }
        }
    }
    .resonswhyus{
        .row{
            ul{
                .single-choose-box{
                    h4{
                        font-size: 17px;
                        line-height: 22px;
                    }
                }
            }
        .choose-content{
            .single-choose-box{
                width: 115px!important;
                height: 170px;
                span{
                    font-size: 40px;
                    line-height: 40px;
                }
            }
        }
    }
}
    .justpos{
        .posjust{
            .contactform{
                .contacti{
                    form{
                        .submit4{
                            button{
                                padding: 20px 50px 20px;
                            }
                        }
                        .labeli{
                            span{
                                input{
                                    height: 55px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .justpos{
        .icon{
        .inner{
                a{
                    height: 110px;
                    width: 110px;
                    span{
                        line-height: 90px;
                    }
                }
            h3{
                margin-bottom: 15px;
            }
            h1{
                font-size: 50px;
                line-height: 55px;
            }
        }
    }
}
    .howitworks{
        .steps{
            display: flex;
            justify-content: center;
            .box__steps{
                .single-working-steps-box{
                    margin-right: 0;
                    margin: 0 auto 60px;
                }
            }
        }
    }
    .services{
        .box-bg{
            margin-bottom: 50px;
            margin-left: 90px;
            margin-right: 90px;
            .justimg{
                img{
                    height: 230px;
                }
            }
        }
    }
    .introduction{
        .row{
            padding-bottom: 50px;
        }
        .left{
            margin-bottom: 50px;
            justify-content: center;
            padding: 0 15px;
            .welcome-image-box{
                max-width: 333px;
                align-self: center;
                .vid3{
                    left: 280px;
                    bottom: 30px;
                    width: 215px;
                    img{
                        height: 160px;
                        max-width: unset;
                        width: 100%;
                    }
                }
                .vid1{
                    left: -160px;
                    top: 45px;
                }
            }
        }
    }
    header{
        .fixbottomjustmob{
            display: none;
        }
        .menu-here{
            position: absolute;
            width: 100%;
            z-index: 9999;
            background: white;
            min-height: 111px;
            display: flex;
            align-items: center;
                .logo-header{
                    section{
                        margin: 0;
                    }
                }
                .navbar-toggler{
                    display: inline-flex;
                    outline: unset;
                    flex-direction: column;
                }}}
    header{
    .menu-here{
        .navbar{
            .socials-header{
                section{
                    &:first-child{
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .fixedright{
        max-width: 255px !important;
        height: 750px;
        .slider-contact-info{
            width: 230px!important;
            bottom: 55px;
            .inner{
                display: block;
                .title-holder{
                    padding-left: 0;
                    text-align: center;
                }
                .icon-holder{
                    width: 90px!important;
                    height: 90px!important;
                    margin: auto;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .contentwelc{
        padding: 0 40px !important;
        h1{
            font-size: 24px;
        }
        h2{
            font-size: 50px !important;
                }
            }
    .slidewelc{
        position: relative;
    }
}
header{
    .slidewelc{
        .container1{
            .slideimg{
                height: 750px;
            }
        }
    }
    .menu-here{
        .navbar{
            padding: 10px 20px!important;
            width: 100%;
            .logo-header, .socials-header{
                min-width: 250px;
                justify-content: flex-end;
            }
            .navbar-collapse{
                order: 1;
                ul{
                    justify-content: center;
                    margin-bottom: 10px;
                    margin: 10px;
                }
            }
            .navbar-collapse{
                ul{
                    li{
                        padding: 5px 8px;
                        margin: 0 10px;
                        a{
                            font-size: 17px!important;
                        }
                    }
                }
            }
            .socials-header{
                text-align: center;
                section{
                    &:first-child{
                        p{
                            margin-right: 0px;
                            br{
                                display: flex;
                            }
                            i{
                            }
                            span{
                            font-size: 13px!important;
                            }
                        }
                    }
                }
            }
        }
    }
    .fixedright{
        .slider-contact-info{
            width: 350px;
            left: 130px;
            .inner{
                .title-holder{
                    font-size: 30px !important;
                    h3{
                    }
                    h1{
                    }
                }
                .icon-holder{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
    .contentwelc{
        top: 50%!important;
            h1{
            }
        }
    }
}

@media (max-width: 991.98px) and (min-width: 767.98px) {
    .socials-header{
        section{
            &:first-child{
                p{
                    margin-right: 0px;
                    br{
                        display: none!important;
                    }
                }
            }
        }
    }
}
@media(max-width: 767.98px){
    .resonswhyus{
        .container{
            .intro{
                h2{
                    font-size: 35px;
                    line-height: 40px;
                }
            }
            .row{
            .choose-content{
                li{
                    width: 100% !important;
                    margin-left: unset;
                    margin-right: unset;
                    float: unset;
                }
            }
        }
    }
}
    .justpos{
        .posjust{
            .contactform{
                display: block!important;
                .imgright{
                    margin-top: 20px;
                }
                .contacti{
                    padding-top: 30px;
                    form{
                    }
                }
                .imgright{
                    .quote-right-box{
                    .image-holder{
                        img{
                            height: 320px!important;
                            object-position: bottom!important;
                            object-fit: cover!important;
                            min-height: unset!important;
                            border-radius: 10px 10px 0px 0px !important;
                            -webkit-border-radius: 10px 10px 0px 0px !important;
                            -moz-border-radius: 10px 10px 0px 0px !important;
                            -ms-border-radius: 10px 10px 0px 0px !important;
                            -o-border-radius: 10px 10px 0px 0px !important;
                        }
                    }
                    .text-holder{
                        border-radius: 0 0px 10px 10px!important;
                        h3{
                        }
                    }
                }
            }
        }
    }
        .icon-holder{
            .icon{
                margin-top: 99px;
                .inner{
                    h1{
                        font-size: 45px;
                        line-height: 50px;
                        padding: 0 20px;
                    }
                }
            }
        }
        .video-conta{
            img{
                height: 650px;
            }
        }
    }
    .introduction{
        .left{
            margin-bottom: 200px;
            .welcome-image-box{
                max-width: unset;
                .vid3{
                    left: unset;
                    right: 0;
                    bottom: -105px;
                    z-index: 3;
                }
                .vid2{
                    width: 100%;
                    img{
                        max-width: unset;
                        width: 92%;
                        height: 300px;
                        // border-bottom-left-radius: 275px!important;
                    }
                }
                .vid1{
                    width: 300px;
                    left: 25px;
                    top: 280px;
                    z-index: 4;
                    img{
                        height: 170px;
                        max-width: unset;
                        width: 100%;
                    }
                }
            }
        }
    }
    header{
        .menu-here{
            .navbar{
                .navbar-collapse{
                    ul{
                        justify-content: center;
                        display: block;
                        margin-bottom: 10px;
                        margin: 20px;
                        li{
                            margin: 10px 10px!important;
                        }
                    }
                }
                .socials-header{
                    min-width: 200px;
                  }
                .logo-header{
                    min-width: 200px;
                    section{
                    }
                }
                .navbar-toggler{
                }}}
    .slider-contact-info{
        bottom: -70px !important;
        .icon-holder{
            width: 90px !important;
            height: 90px !important;
            margin-right: 0!important;
            margin-bottom: 15px!important;
        }
        .title-holder{
            text-align: right!important;
            margin-right: 10px;
        }
    }
    .fixedright{
        background-image: unset!important;
        .arrowswelc{
            display: none;
        }
    }
    .fixbottomjustmob{
        display: flex!important;
        p{
            margin: 0;
        }
        .arrowswelc1{
            transform: translate(-50%, -50%);
            bottom: 70px;
            position: absolute;
            width: 160px;
            left: 18%;
            display: flex!important;
            .swiper-button-next{
                color: white;
            }
            .swiper-button-prev{
                color: white;
            }
        }
        height: 170px !important;
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: revert;
        }
    }
}
.services{
    background-attachment: unset;
    padding: 10px 0;
    .intro{
        h2{
            font-size: 35px;
            line-height: 40px;
        }
    }
    .box-bg{
        margin-left: 50px;
        margin-right: 50px;
    }
}
.howitworks{
    padding-bottom: 20px;
    .steps{
        .box__steps{
            justify-content: center;
                width: 100%;
                margin: auto;
                text-align: center;
                display: flex;
            li{
                width: 100%;
                justify-content: center;
                display: flex;
                max-width: unset!important;
                .icon-holder{
                    width: 170px!important;
                    height: 170px!important;
                    .count{
                        width: 50px!important;
                        height: 50px!important;
                        h5{
                            padding: 13px 0!important;
                        }
                    }
                    span{
                        line-height: 150px!important;
                        p{

                        }
                    }
                }
                .text-holder{
                    // padding-top: 0px!important;
                    h4{
                        white-space: nowrap;
                        margin-bottom: 10px!important;
                    }
                }
            }
        }
    }
    .intro{
        h2{
            font-size: 35px;
    line-height: 40px;
        }
    }
}
}



@media(max-width: 575.98px){
    .introduction{
        .intro{
            h2{
                font-size: 35px;
                line-height: 40px;
            }
        }
        .right{
            .line1{
                h1{
                    font-size: 25px;
                    line-height: 30px;
                }
            }
            .line2{
                h2{
                    line-height: 27px;
                }
            }
        }
        .left{
            margin-bottom: 40px;
            .welcome-image-box{
                display: flex;
                flex-direction: column;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                .vid3{
                    left: unset;
                    right: 0;
                    position: relative;
                    bottom: unset;
                    z-index: unset;
                    top: 0;
                    width: 50%;
                    grid-column-start: 1;
                    grid-column-end: 4;
                    grid-row-start: 3;
                    img{
                        border-radius: 0px 0px 0 15px!important;
                    }
                }
                .vid2{
                    z-index: unset;
                    grid-column-start: 1;
                    grid-column-end: 4;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    img{
                        width: 100%;
                        border-radius: 15px 15px 0px 0px!important;
                        -webkit-border-radius: 15px 15px 0px 0px!important;
                        -moz-border-radius: 15px 15px 0px 0px!important;
                        -ms-border-radius: 15px 15px 0px 0px!important;
                        -o-border-radius: 15px 15px 0px 0px!important;
                        height: 320px;
                    }
                }
                .vid1{
                    width: 50%;
                    left: 0;
                    top: 0px;
                    z-index: unset;
                    position: relative;
                    order: 1;
                    margin-left: auto;
                    grid-column-start: 1;
                    grid-row-start: 3;
                    grid-row-end: 4;
                    grid-column-end: 4;
                    img{
                        height: 160px;
                        max-width: unset;
                        width: 100%;
                        border-radius: 0px 0px 15px 0px!important;
                    }
                }
            }
        }
    }
    header{
        .menu-here{
            .navbar{
                padding-top: 40px !important;
                padding-bottom: 15px;
                .socials-header{
                    min-width: unset;
                    background: #a02f33;
                    padding: 5px 20px;
                    justify-content: center;
                    section{
                        &:first-child{
                                i{
                                    color: white!important;
                                    margin-right: 10px;
                                    position: relative;
                                    top: 1px;
                                    font-size: 18px;
                                    line-height: 18px;
                                    display: inline-block;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                .logo-header{
                    min-width: unset;
                }
            }
            .socials-header{
                position: absolute;
                top: 0;
                width: 100%;
                left: 0;
                padding: 10px 20px;
                justify-content: center;
                p{
                    font-size: 13px!important;
                    br{
                        display: none!important;
                    }
                    i{
                        font-size: 15px!important;
                    }
                }
            }
        }
        .navbar-toggler{
            padding: 3px 5px;
            .hamburger{
                .line{
                        height: 1px;
                        background-color: #ac9374;
                        display: block;
                        margin: 6px auto;
                        transition: all 0.3s ease-in-out;
                        position: relative;
                        
                }
                .line1{
                    width: 24px;
                }
                .line2{
                    width: 30px;
                }
                .line3{
                    width: 24px;
                }
            }
        }
    }
    .fixbottomjustmob{
        .arrowswelc1{
            width: 150px!important;
            .swiper-button-next, .swiper-button-prev{
                outline: unset;
                &:after{
                    font-size: 30px!important;
                }
            }
        }
    }
    .fixedright{
        background-image: unset!important;
        .arrowswelc{
            display: none;
        }
        .title-holder{
            h3{
                line-height: 21px!important;
                font-size: 26px;
            }
            h1{
                font-size: 28px !important;
            }
        }
    }
    header .contentwelc {
        text-align: center;
        h1{

        }
        h2{
            font-size: 40px !important;
            br{
                display: none;
            }
        }
    }
    .services{
        .box-bg{
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .justpos{
        .video-conta{
            img{
                height: 595px;
            }
        }
        .icon-holder{
            .icon{
                margin-top: 75px;
                .inner{
                    h3{
                        margin-top: 30px;
                    }
                    h1{
                        font-size: 40px;
                    }
                    a{
                        height: 95px;
                        width: 95px;
                        span{
                            line-height: 75px;
                        }
                    }
                    .html5lightbox{

                    }
                }
            }
        }
    }
    .posjust{
        .contactform{
            .contacti{
                h2{
                    padding: 0 15px!important;
                    margin-bottom: 20px!important;
                }
                form{
                    input, select, textarea{
                        font-size: 15px;
                    }
                }
            }
            .imgright{
                .image-holder{
                    img{
                    }
                }
                .text-holder{
                    padding: 30px 30px 30px 30px !important;
                    h3{
                        font-size: 18px!important;
                    font-weight: 500;
                    line-height: 26px;
                    }
                }
            }
        }
    }
}





@media(max-width: 575.98px){
    header {
        .contentwelc{
            h2{
                font-size: 30px !important;
            }
        }
        .menu-here {
            .socials-header{
                p{
                    span{
                        font-size: unset !important;
                    }
                }
            }
            .navbar {
                .logo-header {
                    section {
                        img {
                            width: 150px !important;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 470px) {
    header .contentwelc {
        padding: 0 15px !important;
        h1{
            font-size: 25px!important;
        }
        h2{
            font-size: 32px!important;
        }
    }
    header .fixbottomjustmob .arrowswelc1{
        left: 20%!important;
    }
    header .slidewelc .container1 .slideimg {
        height: 635px;
    }
    header .slider-contact-info {
        bottom: 50px !important;
    }
    .introduction .intro {
        margin: 40px 0px;
    }
    .howitworks{
        .steps{
            .box__steps{
        li{
            .icon-holder{
                width: 150px!important;
                height: 150px!important;
                .count{
                    width: 40px!important;
                    height: 40px!important;
                    h5{
                        padding: 9px 0!important;
                    }
                }
                span{
                    line-height: 120px!important;
                    p{
                        i{
                            font-size: 50px;
                        }
                    }
                }
            }
        }
    }
}
        .intro{
            margin-bottom: 85px;
            h2{
                font-size: 30px;
    line-height: 35px;
            }
        }
    }
    .footersection4{
        .lineee{
            width: 230px;
    margin: auto;
        }
    }
    .resonswhyus{
        .choose-content{
            padding: 0 25px!important;
        }
        .intro{
            h2{
                font-size: 30px!important;
                line-height: 35px;
            }
        }
    }
    .introduction{
        .intro{
            margin-bottom: 50px;
            h2{
                font-size: 30px;
                line-height: 35px;
            }
        }
        .right{
            .line3{
              display: block;  
            }
            .video-holder-box{
                width: 100%!important;
                img{
                        object-fit: cover!important;
                        height: 165px!important;
                }
            }
            .rightext{
                margin-top: 10px!important;
                h3{
                    font-size: 19px!important;
                    padding: 0 0px!important;
                }
            }
        }
    }
    .services{
        background-attachment: unset;
        .intro{
            h2{
                font-size: 30px;
                line-height: 35px;
            }
        }
    }
    .justpos{
        .icon-holder{
            .icon{
                .inner{
                    h1{
                        line-height: 45px;
                        font-size: 35px;
                    }
                }
            }
        }
    }
    .posjust{
        padding: 0 25px!important;
        .contactform{
            .contacti{
                form{
                    input, select, textarea{
                        font-size: 14px;
                        height: 50px;
                    }
                    textarea{
                        font-size: 15px!important;
                    }
                }
                h2{
                    font-size: 26px;
                    margin-bottom: 15px!important;
                }
                form{
                    .submit4{
                        button{
                            padding: 16px 35px 16px!important;
                        }
                    }
                }
            }
            .imgright{
                .image-holder{
                    img{
                    }
                }
                .text-holder{
                    h3{
                    }
                }
            }
        }
    }
}

@media (max-width: 375.98px) {
    .title-holder{
        margin-right: 0!important;
        h3{
            font-size: 25px!important;
        }
        a{
            font-size: 29px!important;
        }
    }
    .howitworks{
        .steps{
            .box__steps{
                li{
                    .text-holder{
                        h4{
                            font-size: 18px!important;
                            line-height: 15px!important;
                        }
                        p{
                            font-size: 15px!important;
                        }
                    }
                }
            }
        }
        .intro{
            h2{
                font-size: 25px;
    line-height: 30px;
            }
        }
    }
    header{
        .menu-here{
            .navbar{
                #navbarNav{
                   .navbar-nav{
                       margin: 0;
                        .menu{
                            margin: 0;
                            li{
                                padding-right: 0;
                                margin-right: 0!important;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        padding: 0;
    }
    .resonswhyus{
        .bottomlineservices{
            h3{
                font-size: 16px;
                span{
                    a{
                        font-size: 22px;
                    }
                }
            }
        }
        .choose-content{
            li{
                height: 140px!important;
                padding-top: 10px!important;
                span{
                    p{
                        margin-bottom: 0!important;
                        i{
                            font-size: 35px!important;
                        }
                    }
                }
            }
        }
        .intro{
            h2{
                font-size: 25px;
    line-height: 30px;
            }
        }
    }
    .introduction{
        .right{
            .line1{
                h1{
                    font-size: 20px;
                    line-height: 27px;
                }
                img{
                    margin-right: 5px;
                }
            }
            .line2{
                font-size: 15px;
            }
        }
        .intro{
            margin-bottom: 30px;
            h2{
                font-size: 25px;
                line-height: 30px;
            }
        }
    }
    .services{
        background-attachment: unset;
        .bottomlineservices{
            margin: 40px 0;
            h3{
                font-size: 16px;
                span{
                    a{
                        font-size: 22px;
                    }
                }
            }
        }
        .box-bg{
            .titleicon{
                padding: 30px 40px 20px;
            }
            .justimg{
                img{
                    height: 200px;
                }
            }
        }
        .intro{
            h2{
                font-size: 25px;
                line-height: 30px;
            }
        }
    }
    .posjust{
        padding: 0 15px !important;
    }
    .justpos{
        .contactform{
            .imgright{
                .text-holder{
                    h3{
                        font-size: 16px!important;
                    }
                }
            }
            .contacti{
                h2{
                    font-size: 26px!important;
                }
                .contactii{
                    form{
                        padding: 0!important;
                    }
                }
            }
        }
        .video-conta{
            img{
                height: 555px;
            }
        }
        .icon-holder{
            // margin-right: -5px !important;
            .icon{
                margin-top: 55px;
                .inner{
                    h3{
                        font-size: 22px;
                        padding: 0 10px;
                    }
                    h1{
                        line-height: 42px;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}